@import "null";

body {
  background: $backgroundPage;
}

main {
  display: flex;
  height: 100vh;
  max-width: 100vw;
  font-family: $fontfamily;
}

section.code .container,
section.email .container,
section.login .container {
  div.row {
    display: flex;
  }
  div.row:first-child {
    justify-content: flex-start;
    height: 30vh;
  }
  div.row:last-child {
    justify-content: center;
    height: 70vh;
  }
}
