// =============================== Variables ==============================

$minWidth: 320px;
$maxWidth: 1440px;

// Colors
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$bordergray: #a1a1a1;
$gray: #616161;
$stronggray: #414141;
$lightgray: #e0e0e0;
$disabledInputColor:#EFEFEF;
$blue: #1672ec;
$lightBlue: #c5dcfa;
$middleBlue: #E2EDFC;
$aliceBlue: #F0F6FE;
$backgroundPage: #f7f7f7;
$green: #1f8b24;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap");
$fontfamily: "Manrope", sans-serif;
