<div class="wrapper">
  <section class="login">
    <div class="container">
      <div class="row">
        <div class="logo">
          <div class="images">
            <img src="./assets/img/bravo-logo.png" alt="Bravo logo" />
          </div>

        </div>
      </div>
      <div class="row">
        <div class="login-form">
          <div class="login-form__title">
            <h5>Log In</h5>
          </div>
          <form action="">
            <div class="login-form__form-control">
              <label for="email">Your Email</label>
            </div>
            <div class="login-form__form-control">
              <input type="email" id="email" placeholder="email@example.com">
            </div>
          </form>
          <div class="login-form__description">
            <p>
              Enter the email you signed up with<br>
              to receive your login code
            </p>
          </div>
          <div class="login-form__submit">
            <button type="submit">Log In</button>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
