<section class="customers">
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="title">
          <h1>
            <button (click)="onSideNavToggle()">
              <img src="./assets/img/menu.png" alt="menu">
            </button>
            <span>Orders</span>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="searh">
        <div class="search-icon">
          <img src="/assets/img/search.png" alt="search">
        </div>
        <div class="search-input">
          <input type="search" placeholder="Order, Customer, Notes..." (keyup)="applyFilter($event)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

          <ng-container matColumnDef="dropdown">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                class="open-dropdown" (click)="expandedElement = expandedElement === element ? null : element">
                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M2.34292 0.753906L0.928711 2.16812L7.99976 9.23922L15.0708 2.16815L13.6566 0.753935L7.99978 6.41077L2.34292 0.753906Z"
                    fill="#A1A1A1"/>
                </svg>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="orderNo">
            <th mat-header-cell *matHeaderCellDef>Order No</th>
            <td mat-cell *matCellDef="let element"> {{element.orderNo}} </td>
          </ng-container>

          <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef>
              Customer
              <span #matMenuTrigger [matMenuTriggerFor]="menuCustomersFilter"
                    (onMenuOpen)="matMenuTrigger.classList.add('active')"
                    (onMenuClose)="matMenuTrigger.classList.remove('active')"
                    class="sort-size">
<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path
  d="M0 1.5C0 0.947715 0.447715 0.5 1 0.5H11C11.5523 0.5 12 0.947715 12 1.5C12 2.05228 11.5523 2.5 11 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z"
  fill="black"/>
<path
  d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H9C9.55229 4.5 10 4.94772 10 5.5C10 6.05228 9.55229 6.5 9 6.5H3C2.44772 6.5 2 6.05228 2 5.5Z"
  fill="black"/>
<path
  d="M5 8.5C4.44772 8.5 4 8.94771 4 9.5C4 10.0523 4.44772 10.5 5 10.5H7C7.55228 10.5 8 10.0523 8 9.5C8 8.94771 7.55228 8.5 7 8.5H5Z"
  fill="black"/>
</svg>
              </span>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.customer}} </td>
          </ng-container>

          <ng-container matColumnDef="customerNo">
            <th mat-header-cell *matHeaderCellDef>Customer No</th>
            <td mat-cell *matCellDef="let element"> {{element.customerNo}} </td>
          </ng-container>

          <ng-container matColumnDef="items">
            <th mat-header-cell *matHeaderCellDef>Items</th>
            <td mat-cell *matCellDef="let element"> {{element.items}} </td>
          </ng-container>

          <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef>Notes</th>
            <td mat-cell *matCellDef="let element">
              {{(element.notes.length > 14) ? element.notes.substr(0, 13) + '...' : element.notes}}
            </td>
          </ng-container>

          <ng-container matColumnDef="ordered">
            <th mat-header-cell *matHeaderCellDef>
              Ordered
              <span (click)="rangePicker.open()" [ngClass]="{ active: rangePicker.opened }" class="sort-size">
                <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 1.5C0 0.947715 0.447715 0.5 1 0.5H11C11.5523 0.5 12 0.947715 12 1.5C12 2.05228 11.5523 2.5 11 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z"
                    fill="black"/>
                  <path
                    d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H9C9.55229 4.5 10 4.94772 10 5.5C10 6.05228 9.55229 6.5 9 6.5H3C2.44772 6.5 2 6.05228 2 5.5Z"
                    fill="black"/>
                  <path
                    d="M5 8.5C4.44772 8.5 4 8.94771 4 9.5C4 10.0523 4.44772 10.5 5 10.5H7C7.55228 10.5 8 10.0523 8 9.5C8 8.94771 7.55228 8.5 7 8.5H5Z"
                    fill="black"/>
                </svg>
              </span>
              <ng-container>
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="dateRange" [rangePicker]="rangePicker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                  <!-- #docregion date-range-picker-actions -->
                  <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                      <button mat-button matDateRangePickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDateRangePickerApply>Done</button>
                    </mat-date-range-picker-actions>
                  </mat-date-range-picker>
                  <!-- #enddocregion date-range-picker-actions -->
                </mat-form-field>
              </ng-container>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.ordered | date: 'EEEE, MMMM d, y, h:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="delivery">
            <th mat-header-cell *matHeaderCellDef>
              Req. Delivery
              <span (click)="rangePicker.open()"  [ngClass]="{ active: rangePicker.opened }"
                    class="sort-size">
              <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path
  d="M0 1.5C0 0.947715 0.447715 0.5 1 0.5H11C11.5523 0.5 12 0.947715 12 1.5C12 2.05228 11.5523 2.5 11 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z"
  fill="black"/>
<path
  d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H9C9.55229 4.5 10 4.94772 10 5.5C10 6.05228 9.55229 6.5 9 6.5H3C2.44772 6.5 2 6.05228 2 5.5Z"
  fill="black"/>
<path
  d="M5 8.5C4.44772 8.5 4 8.94771 4 9.5C4 10.0523 4.44772 10.5 5 10.5H7C7.55228 10.5 8 10.0523 8 9.5C8 8.94771 7.55228 8.5 7 8.5H5Z"
  fill="black"/>
</svg>
              </span>
              <ng-container>
                <mat-form-field appearance="fill" class="example-form-field">
                  <mat-label>Enter a date range</mat-label>
                  <mat-date-range-input [formGroup]="dateRange" [rangePicker]="rangePicker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date"
                           (dateChange)="dateFilter()">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                  <!-- #docregion date-range-picker-actions -->
                  <mat-date-range-picker #rangePicker>
                    <mat-date-range-picker-actions>
                      <button mat-button matDateRangePickerCancel>Cancel</button>
                      <button mat-raised-button color="primary" matDateRangePickerApply>Done</button>
                    </mat-date-range-picker-actions>
                  </mat-date-range-picker>
                  <!-- #enddocregion date-range-picker-actions -->
                </mat-form-field>
              </ng-container>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.delivery | date: 'fullDate'}} </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>
              <ng-container>
                <mat-form-field appearance="fill" class="sort-status">
                  <mat-select #selectMenuStatus (selectionChange)="statusFilter($event.value)">
                    <mat-option *ngFor="let item of status" [value]="item.value">
                      {{item.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </ng-container>
              Status
              <span (click)="selectMenuStatus.open()" [ngClass]="{ active: selectMenuStatus.openedChange | async }"
                    class="sort-size">
               <svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
<path
  d="M0 1.5C0 0.947715 0.447715 0.5 1 0.5H11C11.5523 0.5 12 0.947715 12 1.5C12 2.05228 11.5523 2.5 11 2.5H1C0.447715 2.5 0 2.05228 0 1.5Z"
  fill="black"/>
<path
  d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H9C9.55229 4.5 10 4.94772 10 5.5C10 6.05228 9.55229 6.5 9 6.5H3C2.44772 6.5 2 6.05228 2 5.5Z"
  fill="black"/>
<path
  d="M5 8.5C4.44772 8.5 4 8.94771 4 9.5C4 10.0523 4.44772 10.5 5 10.5H7C7.55228 10.5 8 10.0523 8 9.5C8 8.94771 7.55228 8.5 7 8.5H5Z"
  fill="black"/>
</svg>
              </span>
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="status-container">
                <button mat-flat-button color="primary" class="confirm"
                        [disabled]="element.status" (click)="confirmOrder(element.orderNo)">
                  {{(element.status) ? 'Confirmed' : 'Confirm'}}
                </button>
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail"
                   [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="detail">
                  <div class="detail-header">
                    <div class="detail-header__item">
                      <span>Notes:</span><br>
                      {{ element.notes }}
                    </div>
                    <div class="detail-header__item">
                      <span>Delivery Address:</span><br>
                      {{ element.address }}
                    </div>
                    <div class="detail-header__item print">
                      <a [routerLink]="['/orders', element.orderNo]" target="_blank">
                        <button
                          (click)="printOrders(element.orderNo)"
                          class="print">Print
                          Order
                        </button>
                      </a>
                    </div>
                  </div>
                  <div class="detail-table">
                    <table mat-table [dataSource]="element.products" class="mat-elevation-z8 detail-table-content">
                      <ng-container matColumnDef="productCode">
                        <th mat-header-cell *matHeaderCellDef>Product Code</th>
                        <td mat-cell *matCellDef="let product"> {{product.productCode}} </td>
                      </ng-container>
                      <ng-container matColumnDef="productName">
                        <th mat-header-cell *matHeaderCellDef>Product</th>
                        <td mat-cell *matCellDef="let product"> {{product.productName}} </td>
                      </ng-container>
                      <ng-container matColumnDef="unit">
                        <th mat-header-cell *matHeaderCellDef>Unit</th>
                        <td mat-cell *matCellDef="let product"> {{product.unit}} </td>
                      </ng-container>
                      <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef>Quantity</th>
                        <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="displayedColumnsItem"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumnsItem;"></tr>
                    </table>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9">
              <div class="no-data">
                <div class="no-data__icon">
                  <img src="/assets/img/inbox.png" alt="inbox">
                </div>
                <div class="no-data__title">
                  <h4>No Data to Display</h4>
                </div>
                <div class="no-data__description">
                  <p>
                    Seems like you don’t have any<br>
                    customer yet. Let’s create it now!
                  </p>
                </div>
                <div class="no-data__control">
                  <div class="control-item">
                    <button>
                      Replace Catalog
                    </button>
                  </div>
                  <div class="control-item">
                    <button>
                      Add Customer
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</section>

<mat-menu #menuCustomersFilter="matMenu">
  <app-select-filter-menu></app-select-filter-menu>
</mat-menu>

