@import "src/assets/scss/variables";

.customers {
  .container {
    .row {
      .header {
        display: flex;
        justify-content: space-between;

        .title {
          button {
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 10px;
          }

          span {
            @include fontType($fontfamily, normal, 600, 24px, 132%);
            color: $black;
          }
        }

        .control {
          display: flex;
          align-items: center;

          .control-item {
            button {
              display: flex;
              align-items: center;
              background: transparent;
              border: none;
              cursor: pointer;
              @include fontType($fontfamily, normal, 600, 16px, 150%);
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }

            button::before {
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 12px;
            }
          }

          .control-item:first-child {
            margin-right: 30px;

            button {
              color: $gray;
            }

            button::before {
              background-image: url("/assets/img/software-upload.png");
            }
          }

          .control-item:last-child {
            button {
              color: $blue;
            }

            button::before {
              background-image: url("/assets/img/math-plus.png");
            }
          }
        }
      }

      .searh {
        width: 350px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: $white;
        border: 1px solid $lightgray;
        box-sizing: border-box;
        border-radius: 8px;

        .search-icon {
          img {
            display: block;
            margin-right: 15px;
          }
        }

        .search-input {
          input {
            width: 270px;
            border: none;
            min-height: 25px;
          }

          input::-webkit-search-cancel-button {
            color: red;
          }
        }
      }

      .table {
        margin-top: 25px;
        box-shadow: none;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #E0E0E0;

        mat-paginator {
          background: $white;
          color: $gray;
          @include fontType($fontfamily, normal, 400, 14px, 142%);

          ::ng-deep.mat-form-field-underline {
            display: none;
          }

          ::ng-deep .mat-paginator-icon {
            background: $lightgray;
            border-radius: 50%;
            padding: 5px;
            width: 20px;
            color: $gray;
            cursor: pointer;
          }

          ::ng-deep mat-select {
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            padding: 8px 12px;

            .mat-select-panel {

            }

            .mat-select-arrow {

            }
          }
        }

        table {
          width: 100%;
          background: $white;
          box-sizing: border-box;

          tr {
            th.mat-sort-header-sorted {
              color: black;
            }

            th {
              color: $black;
              @include fontType($fontfamily, normal, 600, 14px, 142%);
              letter-spacing: 0.005em;
              border-bottom: 1px solid $lightgray;


              span.sort-size {
                margin-left: 10px;
                position: relative;
                background: transparent;
                border-radius: 50%;
                padding: 2px 5px;
              }

              span.sort-size.active, span.sort-size:hover {
                background: $lightBlue;
                cursor: pointer;
                svg{
                  path{
                    fill: $blue;
                  }
                }
              }

              .sort-name {
                display: flex;

                span {
                  display: inline-block;
                }

                button.sort-name-btn {
                  background: transparent;
                  border: none;
                  cursor: pointer;

                  img.active {
                    transform: rotate(180deg);
                  }
                }
              }
            }

            th.mat-column-dropdown {
              width: 7%;
            }

            th.mat-column-order {
              width: 8%;
            }

            th.mat-column-customer {
              width: 12%;
            }

            th.mat-column-customerNo {
              width: 10%;
            }

            th.mat-column-items {
              width: 6%;
            }

            th.mat-column-notes {
              width: 12%;
            }

            th.mat-column-ordered {
              width: 18%;
            }

            th.mat-column-delivery {
              width: 18%;
            }

            th.mat-column-status {
              width: 8%;
            }

            td {
              color: $black;
              border-bottom: 1px solid $lightgray;

              button.remove, button.open-dropdown {
                background: transparent;
                border: none;
                cursor: pointer;
              }

              button.confirm {
                background: $blue;
                box-shadow: 0px 1px 2px rgba(15, 86, 179, 0.2), 0px 2px 4px rgba(15, 86, 179, 0.2);
                border-radius: 8px;
                border: none;
                @include fontType($fontfamily, normal, 600, 16px, 150%);
                letter-spacing: 0.05em;
                color: $lightBlue;
                padding: 8px 12px;
              }

              button.confirm[disabled] {
                color: $green;
                background: transparent;
                box-shadow: none;
              }

              .status-container {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .no-data {
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__icon {
                  display: inline-block;
                  background: $lightBlue;
                  border-radius: 50%;
                  padding: 15px;

                  img {
                    display: inline-block;
                    margin: 0 auto;
                  }
                }

                &__title {
                  margin-top: 24px;

                  h4 {
                    text-align: center;
                    @include fontType($fontfamily, normal, 600, 20px, 138%);
                  }
                }

                &__description {
                  margin: 8px 0 40px 0;

                  p {
                    text-align: center;
                    @include fontType($fontfamily, normal, 400, 14px, 142%);
                    letter-spacing: 0.0168em;
                    color: $gray;
                  }
                }

                &__control {
                  display: flex;
                  align-items: center;

                  .control-item {
                    button {
                      display: flex;
                      align-items: center;
                      background: transparent;
                      border: none;
                      cursor: pointer;
                      @include fontType($fontfamily, normal, 600, 16px, 150%);
                      letter-spacing: 0.05em;
                      text-transform: capitalize;
                    }

                    button::before {
                      content: '';
                      display: inline-block;
                      width: 16px;
                      height: 16px;
                      margin-right: 12px;
                    }
                  }

                  .control-item:first-child {
                    margin-right: 30px;

                    button {
                      color: $gray;
                    }

                    button::before {
                      background-image: url("/assets/img/software-upload.png");
                    }
                  }

                  .control-item:last-child {
                    button {
                      color: $blue;
                    }

                    button::before {
                      background-image: url("/assets/img/math-plus.png");
                    }
                  }
                }
              }
            }
          }
        }

        tr.example-detail-row {
          height: 0;
        }

        tr.example-element-row:not(.example-expanded-row):hover {
          background: whitesmoke;
        }

        tr.example-element-row:not(.example-expanded-row):active {
          background: #efefef;
        }

        .example-element-row td {
          border-bottom-width: 0;
        }

        .example-element-detail {
          overflow: hidden;
          display: flex;
        }

        .example-element-diagram {
          min-width: 80px;
          border: 2px solid black;
          padding: 8px;
          font-weight: lighter;
          margin: 8px 0;
          height: 104px;
        }

        .example-element-symbol {
          @include fontType($fontfamily, normal, 600, 40px, normal);
        }

        .example-element-description {
          padding: 16px;
        }

        .example-element-description-attribution {
          opacity: 0.5;
        }
      }

    }
  }
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $black;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $white;
}

::ng-deep .mat-select-panel {
  background: $gray;
}

::ng-deep .cdk-overlay-pane {
  .mat-menu-panel {
    background: $white;

    .mat-menu-content {
      display: flex;
      flex-direction: column;
      padding: 12px 40px 12px 17px;
      color: $black;

      mat-checkbox {
        margin: 10px 0;
        @include fontType($fontfamily, normal, 400, 16px, 150%);

        span.mat-checkbox-inner-container {
          border: 1px solid $gray;
          border-radius: 4px;
        }
      }

    }
  }
}

::ng-deep .mat-flat-button span {
  color: $lightBlue !important;
}

::ng-deep .mat-flat-button[disabled] span {
  color: $green !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding-left: 5%;

  .detail {
    width: 100%;
    padding: 15px 0 0 0;

    .detail-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 24px;
      padding-bottom: 16px;
      border-bottom: 1px solid $lightgray;

      .detail-header__item {
        span {
          @include fontType($fontfamily, normal, 600, 14px, 142%);
          letter-spacing: 0.005em;
        }

        button.print {
          background: transparent;
          border: none;
          color: $black;
          display: flex;
          align-items: center;
          cursor: pointer;
          @include fontType($fontfamily, normal, 600, 14px, 142%);
          letter-spacing: 0.005em;
        }

        button.print::before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-image: url("/assets/img/print.png");
          margin-right: 10px;
        }
      }
      .detail-header__item.print{
        a{
          text-decoration: none;
        }
      }
    }

    .detail-table {
      ::ng-deep table.detail-table-content {
        width: 100%;
        box-shadow: none;
        background: $aliceBlue !important;

        thead {
          th.mat-column-code {
            width: 25%;
          }

          th.mat-column-product {
            width: 43%;
          }

          th.mat-column-unit {
            width: 23%;
          }

          th.mat-column-quantity {
            width: 9%;
          }
        }

        tbody tr:last-child {
          td {
            border-bottom: none !important;
          }
        }
      }
    }
  }
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  @include fontType($fontfamily, normal, 600, 40px, normal);
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-expanded-row {
  background: $middleBlue;

  td {
    button.open-dropdown {
      transition: all 0.3s ease;
      transform: rotate(180deg);
      background: #D3E4FB !important;
      border-radius: 10px;
      padding: 5px;

      svg path {
        fill: $blue;
      }
    }
  }
}

.mat-column-expandedDetail {
  background: $aliceBlue;
}

::ng-deep {
  mat-form-field.mat-form-field-type-mat-date-range-input {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }

  mat-form-field.sort-status {
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
  }

  // date picker
  mat-datepicker-content {
    background: $white !important;
    color: $black !important;
  }

  .mat-calendar-content:after {
    margin: 10px 0;
    content: '';
    display: block;
    border-bottom: 1px solid $lightgray;
  }

  .mat-calendar-body-cell-content {
    color: $black;
  }

  .mat-calendar-body-label {
    display: none;
  }

  .mat-calendar-body-selected {
    background: $blue;
    @include fontType($fontfamily, normal, 600, 16px, 150%);
    color: $white;
    padding: 12px;
  }

  .mat-calendar-body-in-range::before {
    background: $lightBlue;
  }

  .mat-calendar-body-range-end {
    .mat-calendar-body-selected {
      background: $white;
      color: $blue;
      border: 1px solid $blue;
    }
  }

  .mat-calendar-table-header {
    color: $gray;
  }

  .mat-calendar-table-header tr:first-child th:before {
    content: '';
    border-top: 2px solid $lightgray;
    display: block;
    margin-bottom: 20px;
  }

  .mat-datepicker-actions {
    button:first-child {
      border: 1px solid $lightgray;
      color: $blue;
      border-radius: 10px;
      background: transparent;
      padding: 12px 16px;
      @include fontType($fontfamily, normal, 600, 16px, 150%);
      letter-spacing: 0.05em;
    }

    button:last-child {
      border: 1px solid $blue;
      color: $lightBlue;
      border-radius: 10px;
      background: $blue;
      padding: 12px 16px;
      @include fontType($fontfamily, normal, 600, 16px, 150%);
      letter-spacing: 0.05em;
      display: flex;
    }

    button:last-child:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      background: url("/assets/img/check_blue.svg") center center;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
    }
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical), .cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background: $lightBlue !important;
  }

  .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button {
    color: $blue;
  }

  .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button:hover, .mat-datepicker-content .mat-calendar-previous-button:hover {
    background: $lightBlue;
  }

  .mat-calendar-controls {
    justify-content: space-between;

    .mat-calendar-spacer {
      display: none;
    }

    button:first-child {
      order: 2;
      @include fontType($fontfamily, normal, 600, 20px, 122%);
    }

    button:last-child {
      order: 3;
    }
  }

  // mat-select-panel
  .mat-select-panel {
    background: $white;
    color: $black;

    mat-option {
      span.mat-option-text {
        color: $black;
      }
    }
  }

  .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled) {
    background: $lightBlue;
  }

  // mat-menu-panel
  .mat-menu-panel {
    min-width: 400px !important;
    display: flex;

    .mat-menu-content {
      width: 100%;
      padding: 0 10px !important;
    }

    .mat-form-field-label-wrapper {
      display: none;
    }

    .mat-form-field-underline {
      display: none;
    }

    mat-form-field {
      width: 100%;
    }

    .mat-chip-input {
      border: 1px solid $lightgray;
      border-radius: 8px;
      min-height: 30px;
      width: 100%;
      color: $black;
      padding: 8px 10px;
      flex-basis: 90%;
    }
  }

  .mat-autocomplete-panel {
    background: $white;
    span.mat-option-text {
      color: $black;

    }
  }
  .mat-option:hover:not(.mat-option-disabled), .mat-option:focus:not(.mat-option-disabled){
    background: $lightgray;
  }
  .mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover){
    background: $lightgray;
  }
  .mat-chip.mat-standard-chip{
    background: $lightBlue;
    color: $black;
    mat-icon{
      color: $black !important;
      opacity: 1 !important;
    }
  }
}

