@import "src/assets/scss/variables";

.customers {
  .container {
    .row {
      .header {
        display: flex;
        justify-content: space-between;

        .title {
          button {
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 10px;
          }

          span {
            font-family: $fontfamily;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 132%;
            color: $black;
          }
        }

        .control {
          .control-item {
            button {
              display: flex;
              align-items: center;
              background: transparent;
              border: none;
              cursor: pointer;
              color: $blue;
              font-family: $fontfamily;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }

            button::before {
              content: '';
              display: inline-block;
              background-image: url("/assets/img/math-plus.png");
              width: 16px;
              height: 16px;
              margin-right: 12px;
            }
          }
        }
      }

      .searh {
        width: 350px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: $white;
        border: 1px solid $lightgray;
        box-sizing: border-box;
        border-radius: 8px;

        .search-icon {
          img {
            display: block;
            margin-right: 15px;
          }
        }

        .search-input {
          input {
            width: 270px;
            border: none;
            min-height: 25px;
          }

          input::-webkit-search-cancel-button {
            color: red;
          }
        }
      }

      .table {
        margin-top: 25px;
        box-shadow: none;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #E0E0E0;

        mat-paginator {
          background: $white;
          color: $gray;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 142%;

          ::ng-deep.mat-form-field-underline {
            display: none;
          }

          ::ng-deep .mat-paginator-icon {
            background: $lightgray;
            border-radius: 50%;
            padding: 5px;
            width: 20px;
            color: $gray;
            cursor: pointer;
          }

          ::ng-deep mat-select {
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            padding: 8px 12px;

            .mat-select-panel {

            }

            .mat-select-arrow {

            }
          }
        }

        table {
          width: 100%;
          background: $white;
          box-sizing: border-box;

          tr {
            th.mat-sort-header-sorted {
              color: black;
            }

            th {
              color: $black;
              font-family: $fontfamily;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 142%;
              letter-spacing: 0.005em;
              border-bottom: 1px solid $lightgray;

              .sort-name {
                display: flex;

                span {
                  display: inline-block;
                }

                button.sort-name-btn {
                  background: transparent;
                  border: none;
                  cursor: pointer;

                  img.active {
                    transform: rotate(180deg);
                  }
                }
              }
            }

            th.mat-column-code {
              width: 15%;
            }

            th.mat-column-name {
              width: 28%;
            }

            th.mat-column-address {
              width: 37.5%;
            }

            th.mat-column-days {
              width: 18%;
            }

            td {
              color: $black;
              border-bottom: 1px solid $lightgray;

              .no-data {
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__icon {
                  display: inline-block;
                  background: $lightBlue;
                  border-radius: 50%;
                  padding: 15px;

                  img {
                    display: inline-block;
                    margin: 0 auto;
                  }
                }

                &__title {
                  margin-top: 24px;

                  h4 {
                    text-align: center;
                    font-family: $fontfamily;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 138%;
                  }
                }

                &__description {
                  margin: 8px 0 40px 0;

                  p {
                    text-align: center;
                    font-family: $fontfamily;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 142%;
                    letter-spacing: 0.0168em;
                    color: $gray;
                  }
                }

                &__control {
                  .control-item {
                    display: flex;
                    justify-content: center;

                    button {
                      display: flex;
                      align-items: center;
                      background: transparent;
                      border: none;
                      cursor: pointer;
                      color: $blue;
                      font-family: $fontfamily;
                      font-style: normal;
                      font-weight: bold;
                      font-size: 16px;
                      line-height: 150%;
                      letter-spacing: 0.05em;
                      text-transform: capitalize;
                    }

                    button::before {
                      content: '';
                      display: inline-block;
                      background-image: url("/assets/img/math-plus.png");
                      width: 16px;
                      height: 16px;
                      margin-right: 12px;
                    }
                  }
                }
              }
            }
          }
        }

        tr.example-detail-row {
          height: 0;
        }

        tr.example-element-row:not(.example-expanded-row):hover {
          background: whitesmoke;
        }

        tr.example-element-row:not(.example-expanded-row):active {
          background: #efefef;
        }

        .example-element-row td {
          border-bottom-width: 0;
        }

        .example-element-detail {
          overflow: hidden;
          display: flex;
        }

        .example-element-diagram {
          min-width: 80px;
          border: 2px solid black;
          padding: 8px;
          font-weight: lighter;
          margin: 8px 0;
          height: 104px;
        }

        .example-element-symbol {
          font-weight: bold;
          font-size: 40px;
          line-height: normal;
        }

        .example-element-description {
          padding: 16px;
        }

        .example-element-description-attribution {
          opacity: 0.5;
        }
      }

    }
  }
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: $black;
}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $white;
}

::ng-deep .mat-select-panel {
  background: $gray;
}


//================================= Mat Dialog ====================================
::ng-deep .mat-dialog-container{
  background: $white;
  color: $black;
}
