<div class="modal-window">
  <div class="dialog-header">
    <h1 mat-dialog-title class="dialog-title">Add Product
    </h1>
    <button class="dialog-close-modal-btn" [mat-dialog-close]="true"><img src="/assets/img/close.png" alt="close">
    </button>
  </div>
  <div class="dialog-content">
    <form class="example-form" [formGroup]="addCatalogGroup">
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label [ngClass]="{invalid: invalid}" #productCodeLabel>Product
            Code
          </mat-label>
          <input formControlName="code" matInput placeholder="" [ngClass]="{invalid: invalid }"
                 (focus)="productCodeLabel.classList.add('focus')"
                 (focusout)="productCodeLabel.classList.remove('focus')">
          <div *ngIf="invalid" class="error-code">
            This product code already exists in the system!
          </div>
          <div *ngIf="invalid" class="error-icon">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10 4C10.5523 4 11 4.44772 11 5V11C11 11.5523 10.5523 12 10 12C9.44771 12 9 11.5523 9 11V5C9 4.44772 9.44771 4 10 4Z"
                fill="#F5413D"/>
              <path
                d="M10 14C9.44771 14 9 14.4477 9 15C9 15.5523 9.44771 16 10 16C10.5523 16 11 15.5523 11 15C11 14.4477 10.5523 14 10 14Z"
                fill="#F5413D"/>
              <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M10 0C4.47715 0 0 4.47715 0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0ZM2 10C2 14.4183 5.58172 18 10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10Z"
                    fill="#F5413D"/>
            </svg>
          </div>
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #nameLabel>Name</mat-label>
          <input formControlName="name" matInput placeholder=""
                 (focus)="nameLabel.classList.add('focus')"
                 (focusout)="nameLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <ng-container formArrayName="units">
        <ng-container *ngFor="let key of getArrayUnitsControls().controls; let i = index">
          <div class="dialog-item multiple-new-item" [formGroupName]="i">
            <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
              <mat-label #unitLabel>Unit{{ (i > 0) ? ' - ' + (i + 1) : '' }}</mat-label>
              <input formControlName="unit" matInput placeholder="box"
                     (focus)="unitLabel.classList.add('focus')"
                     (focusout)="unitLabel.classList.remove('focus')">
            </mat-form-field>
            <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
              <mat-label #priceLabel>Price</mat-label>
              <input formControlName="price" matInput placeholder="10.30"
                     (focus)="priceLabel.classList.add('focus')"
                     (focusout)="priceLabel.classList.remove('focus')">
              <button *ngIf="i>0" class="delete-unit" (click)="deleteUnit(i)">
                <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M14 3.5V2.5C14 1.39543 13.1046 0.5 12 0.5H6C4.89543 0.5 4 1.39543 4 2.5V3.5H1C0.447716 3.5 0 3.94772 0 4.5C0 5.05228 0.447716 5.5 1 5.5H2V16.5C2 18.1569 3.34315 19.5 5 19.5H13C14.6569 19.5 16 18.1569 16 16.5V5.5H17C17.5523 5.5 18 5.05228 18 4.5C18 3.94772 17.5523 3.5 17 3.5H14ZM12 2.5H6V3.5H12V2.5ZM14 5.5H4V16.5C4 17.0523 4.44772 17.5 5 17.5H13C13.5523 17.5 14 17.0523 14 16.5V5.5Z"
                        fill="#818181"/>
                  <path d="M6 7.5H8V15.5H6V7.5Z" fill="#818181"/>
                  <path d="M10 7.5H12V15.5H10V7.5Z" fill="#818181"/>
                </svg>
              </button>
            </mat-form-field>
          </div>
        </ng-container>
      </ng-container>
      <div *ngIf="addCatalogGroup.controls['units'].value.length<3" class="dialog-item">
        <button class="dialog-add-unit-btn" (click)="addUnit()">Add Unit</button>
      </div>
      <div *ngIf="addCatalogGroup.controls['units'].value.length==3" class="dialog-item">
        <p class="text-center">Max number of Units - 3</p>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width  mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Availability</mat-label>
          <mat-select formControlName="availability">
            <ng-container *ngFor="let item of availability; index as i">
              <mat-option *ngIf="i!==0" [value]="item.value">
                {{item.viewValue}}
              </mat-option>
              <mat-option *ngIf="i===0" [value]="item.value" aria-selected="true">
                {{item.viewValue}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #exclusivelyLabel>Exclusively for (Customer Numbers)</mat-label>
          <input formControlName="exclusively" matInput placeholder="Exclusively for (Customer Numbers)"
                 (focus)="exclusivelyLabel.classList.add('focus')"
                 (focusout)="exclusivelyLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #replacementProductsLabel>Replacement Products (SKUs)</mat-label>
          <input formControlName="replacementProducts" matInput placeholder="Replacement Products (SKUs)"
                 (focus)="replacementProductsLabel.classList.add('focus')"
                 (focusout)="replacementProductsLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item control">
        <button mat-flat-button color="warn" class="dialog-cancel-btn" [mat-dialog-close]="true">Cancel</button>
        <button mat-flat-button color="primary" class="dialog-add-btn" [disabled]="invalid" (click)="addCatalog()"
                [mat-dialog-close]="true">
          Add
          Product
        </button>
      </div>
    </form>
  </div>
</div>

