<section class="customers">
  <div class="container">
    <div class="row">
      <div class="header">
        <div class="title">
          <h1>
            <button (click)="onSideNavToggle()">
              <img src="./assets/img/menu.png" alt="menu">
            </button>
            <span>Catalog</span>
          </h1>
        </div>
        <div class="control">
          <div class="control-item">
            <button (click)="openReplaceModal()">
              Replace Catalog
            </button>
          </div>
          <div class="control-item">
            <button (click)="openAddModal()">
              Add Catalog
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="searh">
        <div class="search-icon">
          <img src="/assets/img/search.png" alt="search">
        </div>
        <div class="search-input">
          <input type="search" placeholder="Product Code, Name..." (keyup)="applyFilter($event)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="table mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Product Code</th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unit</th>
            <td mat-cell *matCellDef="let element">{{ element.unit[0] }}
              <span>
              {{(element.unit.length > 1) ? ' + ' + (element.unit.length - 1) + ' more' : ''}}
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
          </ng-container>

          <ng-container matColumnDef="availability">
            <th mat-header-cell *matHeaderCellDef>
              Availability
              <span (click)="selectMenuAvailability.open()" class="sort-size">
                <img src="/assets/img/sort-size.png" alt="sort-size">
              </span>
              <mat-form-field appearance="fill">
                <mat-select multiple #selectMenuAvailability (selectionChange)="availabilityFilter($event.value)">
                  <mat-option *ngFor="let item of availabilityList"
                              [value]="item">{{item}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.availability}} </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button (click)="openDeleteModal()"
                      class="remove"><img src="/assets/img/{{element.actions}}.png" alt=""></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row (click)="openEditModal()" *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">
              <div class="no-data">
                <div class="no-data__icon">
                  <img src="/assets/img/inbox.png" alt="inbox">
                </div>
                <div class="no-data__title">
                  <h4>No Data to Display</h4>
                </div>
                <div class="no-data__description">
                  <p>
                    Seems like you don’t have any<br>
                    customer yet. Let’s create it now!
                  </p>
                </div>
                <div class="no-data__control">
                  <div class="control-item">
                    <button>
                      Replace Catalog
                    </button>
                  </div>
                  <div class="control-item">
                    <button>
                      Add Customer
                    </button>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</section>


<div [class]="(progressAddModalStatus)?'progress-bar add-modal active':'progress-bar add-modal'">
    <div class="progress-bar-content">
      <div>
        <img src="/assets/img/check.svg" alt="check">
        <p>
          <span>Product Add</span><br>
          Product was added sucesfully
      </p>
      </div>
      <button class="progress-bar-close-btn"></button>
    </div>
  <div class="progress-bar-body">
    <mat-progress-bar class="example-margin" color="primary" [value]="valueAddModal" [bufferValue]="bufferValueAddModal">
    </mat-progress-bar>
  </div>
</div>

<div [class]="(progressFileModalStatus)?'progress-bar file-modal active':'progress-bar file-modal'">
    <div class="progress-bar-content">
      <div>
        <mat-progress-spinner
          class="example-margin"
          [value]="valueFileModal">
        </mat-progress-spinner>
        <p>
          <span>Catalog Replace</span><br>
          The file is being processed.<br>
          It may take several seconds.
      </p>
      </div>
      <button class="progress-bar-close-btn"></button>
    </div>
  <div class="progress-bar-body">
    <mat-progress-bar class="example-margin" color="primary" [value]="valueFileModal"
                      [bufferValue]="bufferValueFileModal">
    </mat-progress-bar>
  </div>
</div>

