@import "src/assets/scss/variables";

.customers {
  .container {
    .row {
      .header {
        display: flex;
        justify-content: space-between;

        .title {
          button {
            background: transparent;
            border: none;
            cursor: pointer;
            margin-right: 10px;
          }

          span {
            @include fontType($fontfamily, normal, 600, 24px, 132%);
            color: $black;
          }
        }

        .control {
          display: flex;
          align-items: center;

          .control-item {
            button {
              display: flex;
              align-items: center;
              background: transparent;
              border: none;
              cursor: pointer;
              @include fontType($fontfamily, normal, 600, 16px, 150%);
              letter-spacing: 0.05em;
              text-transform: capitalize;
            }

            button::before {
              content: '';
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 12px;
            }
          }

          .control-item:first-child {
            margin-right: 30px;

            button {
              color: $gray;
            }

            button::before {
              background-image: url("/assets/img/software-upload.png");
            }
          }

          .control-item:last-child {
            button {
              color: $blue;
            }

            button::before {
              background-image: url("/assets/img/math-plus.png");
            }
          }
        }
      }

      .searh {
        width: 350px;
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: $white;
        border: 2px solid $lightgray;
        box-sizing: border-box;
        border-radius: 8px;

        .search-icon {
          svg  {
            display: block;
            margin-right: 15px;
          }
        }

        .search-input {
          input {
            width: 270px;
            border: none;
            min-height: 25px;
          }

          input:focus {
            outline: none;
          }

          input::-webkit-search-cancel-button {
            color: red;
          }
        }
      }


      .searh.active {
        border: 2px solid $blue;

        .search-icon {
          svg path {
            fill: $blue;
          }
        }
      }

      .table {
        margin-top: 25px;
        box-shadow: none;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid #E0E0E0;

        mat-paginator {
          background: $white;
          color: $gray;
          @include fontType($fontfamily, normal, 400, 14px, 142%);

          ::ng-deep.mat-form-field-underline {
            display: none;
          }

          ::ng-deep .mat-paginator-icon {
            background: $lightgray;
            border-radius: 50%;
            padding: 5px;
            width: 20px;
            color: $gray;
            cursor: pointer;
          }

          ::ng-deep mat-select {
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            padding: 8px 12px;

            .mat-select-panel {

            }

            .mat-select-arrow {

            }
          }
        }

        table {
          width: 100%;
          background: $white;
          box-sizing: border-box;

          tr {
            th.mat-sort-header-sorted {
              color: black;
            }

            th {
              color: $black;
              @include fontType($fontfamily, normal, 600, 14px, 142%);
              letter-spacing: 0.005em;
              border-bottom: 1px solid $lightgray;

              span.sort-size {
                margin-left: 10px;
                background: transparent;
                border-radius: 50%;
                padding: 2px 5px;
              }

              span.sort-size.active, span.sort-size:hover {
                background: $lightBlue;
                cursor: pointer;

                svg {
                  path {
                    fill: $blue;
                  }
                }
              }

              .sort-name {
                display: flex;

                span {
                  display: inline-block;
                }

                button.sort-name-btn {
                  background: transparent;
                  border: none;
                  cursor: pointer;

                  img.active {
                    transform: rotate(180deg);
                  }
                }
              }
            }

            th.mat-column-code {
              width: 16%;
            }

            th.mat-column-name {
              width: 26%;
            }

            th.mat-column-unit {
              width: 16%;
            }

            th.mat-column-price {
              width: 16%;
            }

            th.mat-column-availability {
              width: 20%;

              mat-form-field {
                width: 0;
                height: 0;
                visibility: hidden;
                position: absolute;
              }
            }

            td.mat-column-unit {
              span {
                color: $gray;
              }
            }

            td {
              color: $black;
              border-bottom: 1px solid $lightgray;

              button.remove {
                background: transparent;
                border: none;
                cursor: pointer;
                border-radius: 50%;
                padding: 8px 10px;
              }

              button.remove:hover, button.remove.active {
                background: $lightred;
                border: none;
                cursor: pointer;

                svg path {
                  fill: $red;
                }
              }

              .no-data {
                padding: 50px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__icon {
                  display: inline-block;
                  background: $lightBlue;
                  border-radius: 50%;
                  padding: 15px;

                  img {
                    display: inline-block;
                    margin: 0 auto;
                  }
                }

                &__title {
                  margin-top: 24px;

                  h4 {
                    text-align: center;
                    @include fontType($fontfamily, normal, 600, 20px, 138%);
                  }
                }

                &__description {
                  margin: 8px 0 40px 0;

                  p {
                    text-align: center;
                    @include fontType($fontfamily, normal, 400, 14px, 142%);
                    letter-spacing: 0.0168em;
                    color: $gray;
                  }
                }

                &__control {
                  display: flex;
                  align-items: center;

                  .control-item {
                    button {
                      display: flex;
                      align-items: center;
                      background: transparent;
                      border: none;
                      cursor: pointer;
                      @include fontType($fontfamily, normal, 600, 16px, 150%);
                      letter-spacing: 0.05em;
                      text-transform: capitalize;
                    }

                    button::before {
                      content: '';
                      display: inline-block;
                      width: 16px;
                      height: 16px;
                      margin-right: 12px;
                    }
                  }

                  .control-item:first-child {
                    margin-right: 30px;

                    button {
                      color: $gray;
                    }

                    button::before {
                      background-image: url("/assets/img/software-upload.png");
                    }
                  }

                  .control-item:last-child {
                    button {
                      color: $blue;
                    }

                    button::before {
                      background-image: url("/assets/img/math-plus.png");
                    }
                  }
                }
              }
            }
          }
        }

        tr.example-detail-row {
          height: 0;
        }

        tr.example-element-row:not(.example-expanded-row):hover {
          background: whitesmoke;
        }

        tr.example-element-row:not(.example-expanded-row):active {
          background: #efefef;
        }

        .example-element-row td {
          border-bottom-width: 0;
        }

        .example-element-detail {
          overflow: hidden;
          display: flex;
        }

        .example-element-diagram {
          min-width: 80px;
          border: 2px solid black;
          padding: 8px;
          font-weight: lighter;
          margin: 8px 0;
          height: 104px;
        }

        .example-element-symbol {
          @include fontType($fontfamily, normal, 600, 40px, normal);
        }

        .example-element-description {
          padding: 16px;
        }

        .example-element-description-attribution {
          opacity: 0.5;
        }
      }

    }
  }
}

.progress-bar.active {
  display: block;
}

.progress-bar {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 350px;
  border-radius: 15px;
  overflow: hidden;

  &-body {
    ::ng-deep {
      mat-progress-bar {
        height: 6px;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;

    div {
      display: flex;

      img {
        align-self: flex-start;
        padding: 5px 15px 0 0;
      }

      align-items: center;

      ::ng-deep mat-progress-spinner {
        align-self: flex-start;
        margin: 5px 15px 0 0;
        width: 40px !important;
        height: 40px !important;

        svg {
          width: 40px !important;
          height: 40px !important;

          circle {
            stroke: $lightorange;
          }
        }
      }

      p {
        color: $white;
        @include fontType($fontfamily, normal, 400, 14px, 142%);
        letter-spacing: 0.0168em;

        span {
          color: $white;
          @include fontType($fontfamily, normal, 600, 16px, 150%);
          letter-spacing: 0.005em;
        }
      }
    }

    button.progress-bar-close-btn {
      cursor: pointer;
      background: url("/assets/img/close.svg") center center;
      background-repeat: no-repeat;
      border: none;
      width: 16px;
      height: 16px;
    }
  }
}

.progress-bar.add-modal {
  background: $green;

  ::ng-deep {
    mat-progress-bar {
      height: 6px;
    }

    .mat-progress-bar-buffer {
      background-color: $green !important;
    }

    .mat-progress-bar-fill::after {
      background-color: $lightgreen !important;
    }
  }
}

.progress-bar.file-modal {
  background: $orange;

  ::ng-deep {
    mat-progress-bar {
      height: 6px;
    }

    .mat-progress-bar-buffer {
      background-color: $orange !important;
    }

    .mat-progress-bar-fill::after {
      background-color: $lightorange !important;
    }
  }
}

::ng-deep {
  .mat-form-field.mat-focused.mat-primary {
    .mat-select-arrow {
      color: $black;
    }
  }

  .mat-primary {
    .mat-option.mat-selected:not(.mat-option-disabled) {
      color: $white;
    }
  }

  .mat-select-panel {
    background: $gray;
  }

  mat-dialog-container {
    background: $white !important;
    color: $black !important;
  }

  .cdk-overlay-pane {
    .mat-menu-panel {
      background: $white;

      .mat-menu-content {
        display: flex;
        flex-direction: column;
        padding: 12px 40px 12px 17px;
        color: $black;

        mat-checkbox {
          margin: 10px 0;
          @include fontType($fontfamily, normal, 400, 16px, 150%);

          span.mat-checkbox-inner-container {
            border: 1px solid $gray;
            border-radius: 4px;
          }
        }

      }
    }
  }

  // mat-availability
  .mat-select-panel {
    background: $white;

    span.mat-option-text {
      color: $black;
    }

    .mat-pseudo-checkbox {
      color: $lightgray;
      width: 20px;
      height: 20px;
    }
  }

  .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
    background: $blue !important;
  }

  .mat-pseudo-checkbox::after {
    color: $white;
  }

  .mat-pseudo-checkbox-checked::after {
    top: 5px !important;
    left: 2px !important;
  }

  div.mat-select-arrow {
    color: $black !important;
  }

  .mat-select-arrow-wrapper {
    transform: none !important;
  }
}
