.sidenav_container {
  min-width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  div{
    display: flex;
    flex-direction: column;
    div.ng-tns-c195-2{
      display: flex;
      flex-direction: column;
    }
    div:last-child{
      flex: 1 0 auto;
      mat-nav-list{
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.jim {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.img-container{
  min-width: 31px;
  margin-right: 15px;
  align-items: center;
  img{
    display: block;
    margin: 0 auto;
  }
}
