@import "src/assets/scss/variables";

.modal-window {
  width: 376px;
  font-family: $fontfamily;

  .dialog-header {
    display: flex;
    justify-content: space-between;

    h1.dialog-title {

    }

    button.dialog-close-modal-btn {
      width: 15px;
      height: 15px;
      background: transparent;
      border: none;
      cursor: pointer;

      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  form.example-form {
    .dialog-item.multiple, .dialog-item.multiple-new-item {
      display: flex;
      justify-content: space-between;

      .mat-form-field {
        width: 47%;
      }
    }

    .dialog-item.multiple-new-item {
      .mat-form-field:nth-child(2) {
        ::ng-deep .mat-form-field-infix {
          display: flex;
          align-items: center;
        }
      }
      button.delete-unit{
        cursor: pointer;
        background: url("/assets/img/trash.svg") center center;
        border-radius: 50%;
        background-color: $lightred;
        background-repeat: no-repeat;
        padding: 20px;
        width: 18px;
        height: 20px;
        border: none;
        margin-left: 15px;
      }
    }

    .dialog-item {
      .mat-form-field {

        display: block;

        label {
          @include fontType($fontfamily, normal, 400, 12px, 130%);
          letter-spacing: 0.03em;
          color: $gray;
        }

        input {
          border: 1.5px solid $bordergray;
          box-sizing: border-box;
          border-radius: 8px;
          min-height: 48px;
          width: 100%;
          padding: 12px;
          font-size: 16px;
        }

        input::placeholder {
          color: $gray;
        }

        ::ng-deep mat-select {
          border: 1px solid $bordergray;
          border-radius: 8px;
          color: black;
          min-height: 50px;

          div.mat-select-trigger {
            height: 50px !important;

            .mat-select-value {
              color: $black;
              vertical-align: middle;
              padding-left: 10px;
              @include fontType($fontfamily, normal, 400, 16px, 130%);
            }

            .mat-select-arrow-wrapper {
              vertical-align: middle;
              padding-right: 15px;
              transform: none;
            }
          }
        }

      }

      section.days-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        p {
          min-width: 50px;
          margin: 0px 10px 25px 12px;
        }
      }

      button {

      }

      button.dialog-add-unit-btn {
        background: $white;
        border: 1px solid $blue;
        cursor: pointer;
        color: $blue;
        @include fontType($fontfamily, normal, 600, 16px, 150%);
        letter-spacing: 0.05em;
        text-transform: capitalize;
        padding: 12px 15px;
        border-radius: 10px;
        margin-bottom: 15px;
      }

      button.dialog-add-unit-btn::before {
        content: '';
        display: inline-block;
        background-image: url("/assets/img/math-plus.png");
        width: 16px;
        height: 16px;
        margin-right: 12px;
      }

      button.dialog-add-btn {
        background: $blue;
        border: none;
        cursor: pointer;
        color: $lightBlue;
        @include fontType($fontfamily, normal, 600, 16px, 150%);
        letter-spacing: 0.05em;
        text-transform: capitalize;
        padding: 12px 15px;
        border-radius: 10px;
      }

      button.dialog-add-btn::before {
        content: '';
        display: inline-block;
        background-image: url("/assets/img/math-plus_light.png");
        width: 16px;
        height: 16px;
        margin-right: 12px;
      }

      button.dialog-cancel-btn {
        padding: 12px 15px;
        background: transparent;
        border: 1px solid $lightgray;
        color: $gray;
        @include fontType($fontfamily, normal, 600, 16px, 150%);
        letter-spacing: 0.05em;
        text-transform: capitalize;
        cursor: pointer;
        margin-right: 15px;
        border-radius: 10px;
      }
    }

    .dialog-item.control {
      display: flex;
      justify-content: flex-end;
    }
  }
}

::ng-deep {
  .mat-form-field-wrapper {
    .mat-form-field-flex {
      padding: 0;
    }

    .mat-form-field-underline {
      display: none;
    }
  }

  mat-label {
    color: $gray;
    padding-left: 15px;
    font-size: 14px;
  }

  .mat-h4, .mat-subheading-1, .mat-typography h4.dialog-subtitle {
    font-size: 12px;
    padding-left: 14px;
    margin: 0;
  }

  .mat-h4, .mat-subheading-1, .mat-typography h1 {
    @include fontType($fontfamily, normal, 600, 24px, 132%);
  }

  mat-checkbox {
    @include fontType($fontfamily, normal, 400, 16px, 150%);
    letter-spacing: 0.005em;

    .mat-checkbox-inner-container {
      border: 1px solid $gray;
      border-radius: 3px;
    }
  }

  mat-checkbox.mat-checkbox-checked {
    .mat-checkbox-inner-container {
      border: 1px solid $lightBlue;
      -webkit-box-shadow: 0px 0px 0px 4px rgba(197, 220, 250, 0.3);
      -moz-box-shadow: 0px 0px 0px 4px rgba(197, 220, 250, 0.3);
      box-shadow: 0px 0px 0px 4px rgba(197, 220, 250, 0.3);
    }

    .mat-checkbox-background {
      background: $blue !important;
    }

    .mat-checkbox-checkmark-path {
      stroke: $white !important;
    }
  }
}

