<div class="modal-window">
  <div class="dialog-header">
    <h1 mat-dialog-title class="dialog-title">Edit Product
    </h1>
    <button class="dialog-close-modal-btn" [mat-dialog-close]="true"><img src="/assets/img/close.png" alt="close">
    </button>
  </div>
  <div class="dialog-content">
    <form class="example-form">
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Product Code</mat-label>
          <input matInput placeholder="APP123">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Apple">
        </mat-form-field>
      </div>
      <div class="dialog-item multiple">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Unit</mat-label>
          <input matInput placeholder="kg">
        </mat-form-field>
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput placeholder="2.03">
        </mat-form-field>
      </div>
      <div class="dialog-item multiple-new-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Unit - 2</mat-label>
          <input matInput placeholder="box">
        </mat-form-field>
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Price</mat-label>
          <input matInput placeholder="10.90">
          <button class="delete-unit"></button>
        </mat-form-field>

      </div>
      <div class="dialog-item">
        <button class="dialog-add-unit-btn">Add Unit</button>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width  mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label>Availability</mat-label>
          <mat-select [formControl]="selected">
            <ng-container *ngFor="let food of foods; index as i">
              <mat-option *ngIf="i!==0" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
              <mat-option *ngIf="i===0" [value]="food.value" aria-selected="true">
                {{food.viewValue}}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <input matInput placeholder="Exclusively for (Customer Numbers)">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <input matInput placeholder="Replacement Products (SKUs)">
        </mat-form-field>
      </div>
      <div class="dialog-item control">
        <button mat-flat-button color="warn" class="dialog-cancel-btn" [mat-dialog-close]="true">Cancel</button>
        <button mat-flat-button color="primary" class="dialog-add-btn" [mat-dialog-close]="true">Add Product</button>
      </div>
    </form>
  </div>
</div>

