<div class="modal-window">
  <div class="dialog-header">
    <h1 mat-dialog-title class="dialog-title">Add Customer
    </h1>
    <button class="dialog-close-modal-btn" [mat-dialog-close]="true"><img src="/assets/img/close.png" alt="close">
    </button>
  </div>
  <div class="dialog-content">
    <form class="example-form" [formGroup]="addCustomerGroup" (ngSubmit)="addCustomer()">
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #customerNoLabel>Customer No</mat-label>
          <input formControlName="customerNo" matInput placeholder=""
                 (focus)="customerNoLabel.classList.add('focus')"
                 (focusout)="customerNoLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #nameLabel>Name</mat-label>
          <input type="text"
                 placeholder=""
                 aria-label="Number"
                 matInput
                 formControlName="name"
                 [formControl]="nameControl"
                 [matAutocomplete]="auto"
                 (focus)="nameLabel.classList.add('focus')"
                 (focusout)="nameLabel.classList.remove('focus')">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #addressLabel>Delivery Address</mat-label>
          <input formControlName="address" matInput placeholder=""
                 (focus)="addressLabel.classList.add('focus')"
                 (focusout)="addressLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <h4 class="dialog-subtitle">Delivery Days</h4>
        <section class="days-section" formGroupName="days">
          <p>
            <mat-checkbox formControlName="Mon">Mon</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Tue">Tue</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Wed">Wed</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Thu">Thu</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Fri">Fri</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Sat">Sat</mat-checkbox>
          </p>
          <p>
            <mat-checkbox formControlName="Sun">Sun</mat-checkbox>
          </p>
          <p></p>
        </section>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #contactNameLabel>Contact Name</mat-label>
          <input formControlName="contactName" matInput placeholder=""
                 (focus)="contactNameLabel.classList.add('focus')"
                 (focusout)="contactNameLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label #phoneLabel>Phone</mat-label>
          <input formControlName="contactPhone" matInput placeholder="Mobile Phone"
                 (focus)="phoneLabel.classList.add('focus')"
                 (focusout)="phoneLabel.classList.remove('focus')">
        </mat-form-field>
      </div>
      <div class="dialog-item notify">
        <p>
          <mat-checkbox formControlName="notify">Notify customer via text message</mat-checkbox>
        </p>
      </div>
      <div class="dialog-item">
        <mat-form-field class="example-full-width  mat-focused mat-form-field-should-float" floatLabel="always">
          <mat-label [ngClass]="{invalid:invalid}" #productsCodesLabel>Shortlisted Products</mat-label>
          <textarea [ngClass]="{invalid:invalid}" formControlName="productsCodes" matInput placeholder=""
                    (focus)="productsCodesLabel.classList.add('focus')"
                    (focusout)="productsCodesLabel.classList.remove('focus')"></textarea>
          <div *ngIf="invalid" class="error-message">
            Products {{ productsNoneCodes.join(', ') }} {{(productsNoneCodes.length > 1) ? 'were' : 'was'}} not found in
            the
            catalog.
          </div>
        </mat-form-field>
      </div>
      <div class="dialog-item control">
        <button mat-flat-button color="warn" class="dialog-cancel-btn" [mat-dialog-close]="false">Cancel</button>
        <button mat-flat-button type="submit" [disabled]="invalid" color="primary" class="dialog-add-btn"
                [mat-dialog-close]="true">Add
          Customer
        </button>
      </div>
    </form>
  </div>
</div>

