@import "src/assets/scss/style";
//=============================== Login form ================================
.logo {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 42px;
  min-height: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  padding: 0 48px;
  height: 400px;
  background: $white;
  border: 1px solid $lightgray;
  box-sizing: border-box;
  border-radius: 8px;

  &__title {
    margin: 70px 0 26px 0;

    h5 {
      @include fontType($fontfamily, normal, 600, 24px, 132%);
      text-align: center;
      color: $black;
    }
  }

  & form {
    width: 100%;
    position: relative;

    mat-form-field {
      width: 100%;
    }

    .error-message {
      position: absolute;
      bottom: 10px;
      margin-left: 20px;
      color: red;
      text-align: center;
      @include fontType($fontfamily, normal, 400, 12px, 130%);
      letter-spacing: 0.03em;
    }

    ::ng-deep {
      .icon-status{
        position: absolute;
        top: 16px;
        right: 20px;
      }
      .mat-input-element {
        border: 1.5px solid $bordergray;
        box-sizing: border-box;
        border-radius: 8px;
        min-height: 48px;
        width: 100%;
        padding: 12px;
        font-size: 16px;
        caret-color: $blue;
      }

      .mat-input-element:focus {
        border: 3px solid $blue;
      }

      .mat-input-element.valid, .mat-input-element.valid:focus {
        border: 3px solid $middlegreen;
      }

      .mat-input-element.invalid, .mat-input-element.invalid:focus {
        border: 3px solid $red;
      }

      mat-input-element::placeholder {
        color: $gray;
        display: block;
      }

      mat-label {
        margin-left: 15px;
        color: $gray;
      }

      mat-label.focus {
        color: $blue;
      }

      mat-label.valid {
        color: $middlegreen;
      }

      mat-label.invalid {
        color: $red;
      }

      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  &__description {
    margin-top: 6px;
    text-align: center;

    p {
      @include fontType($fontfamily, normal, 400, 12px, 130%);
      letter-spacing: 0.03em;
      color: $gray;
    }
  }

  &__submit {
    margin-top: 22px;
    width: 100%;

    button {
      background: $blue;
      opacity: 0.6;
      color: $lightBlue;
      width: 100%;
      min-height: 48px;
      @include fontType($fontfamily, normal, 600, 16px, 150%);
      letter-spacing: 0.05em;
      text-transform: capitalize;
      border-radius: 8px;
    }

    button.valid {
      opacity: 1.0;
    }
  }
}
