<section class="login">
  <div class="container">
    <div class="row">
      <div class="logo">
        <div class="images">
          <img src="./assets/img/bravo-logo.png" alt="Bravo logo"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="login-form">
        <div class="login-form__title">
          <h5>Log In</h5>
        </div>
        <form class="login-form__form">
          <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
            <mat-label>Your Email</mat-label>
            <input matInput placeholder="email@example.com" value="">
          </mat-form-field>
        </form>
        <div class="login-form__description">
          <p>
            Enter the email you signed up with<br>
            to receive your login code
          </p>
        </div>
        <div class="login-form__submit">
          <button mat-flat-button type="submit">Log In</button>
        </div>
      </div>
    </div>
  </div>
</section>
