@import "src/assets/scss/style";
//=============================== Login form ================================
.logo {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 42px;
  min-height: 80px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 440px;
  padding: 0 48px;
  height: 400px;
  background: $white;
  border: 1px solid $lightgray;
  box-sizing: border-box;
  border-radius: 8px;
  &__title {
    margin: 70px 0 26px 0;
    h5 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 132%;
      text-align: center;
      color: $black;
    }
  }
  & form {
    width: 100%;
    mat-form-field {
      width: 100%;
    }
    ::ng-deep .mat-input-element {
      border: 1.5px solid $bordergray;
      box-sizing: border-box;
      border-radius: 8px;
      min-height: 48px;
      width: 100%;
      padding: 12px;
      font-size: 16px;
    }
    ::ng-deep .mat-input-element::placeholder {
      color:$gray;
      display: block ;
    }
    ::ng-deep label {
      margin-left: 15px;
      color:$gray;
    }
    ::ng-deep .mat-form-field-underline,
    ::ng-deep.mat-form-field-subscript-wrapper {
      display: none;
    }
  }
  &__description {
    margin-top: 16px;
    text-align: center;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: $gray;
    }
  }
  &__submit {
    margin-top: 32px;
    width: 100%;
    button {
      background: $blue;
      opacity: 0.6;
      color: $lightBlue;
      width: 100%;
      min-height: 48px;
      font-weight: bold;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: capitalize;
      border-radius: 8px;
    }
  }
}
