<section class="login">
  <div class="container">
    <div class="row">
      <div class="logo">
        <div class="images">
          <img src="./assets/img/bravo-logo.png" alt="Bravo logo"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="login-form">
        <div class="login-form__title">
          <h5>Log In</h5>
        </div>
        <form class="login-form__form" [formGroup]="loginGroup">
          <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
            <mat-label
              [ngClass]="{focus: focus, valid: userStatus === 'VALID', invalid: userStatus === 'INVALID' }">
              Your Email
            </mat-label>
            <input formControlName="login" matInput
                   [ngClass]="{valid: userStatus === 'VALID', invalid: userStatus === 'INVALID'}"
                   placeholder="email@example.com"
                   value=""
                   (focusin)="focusIn()"
                   (focusout)="focusOut()" matTooltip="Info about the action">
          </mat-form-field>
          <div *ngIf="userStatus === 'INVALID'" class="error-message">This account doesn’t exist in the system</div>
        </form>
        <div class="login-form__description">
          <p>
            Enter the email you signed up with<br>
            to receive your login code
          </p>
        </div>
        <div class="login-form__submit">
          <button [class]="loginGroup.controls['login'].status.toLowerCase()" mat-flat-button type="submit"
                  (click)="submitLoginForm()" [disabled]="userStatus!=='VALID'">Log
            In
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
