<mat-form-field class="example-chip-list mat-focused mat-form-field-should-float" floatLabel="always">
  <mat-label>Customers</mat-label>
  <mat-chip-list #chipList aria-label="Fruit selection"
                 (click)="$event.stopPropagation()">
    <mat-chip
      *ngFor="let customer of customers"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(customer)">
      {{customer}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="New customer..."
      #customersInput
      [formControl]="customersCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let customer of filteredCustomers | async" [value]="customer">
      {{customer}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
