<div class="dialog-delete">
  <div class="dialog-delete title">
    <h1 mat-dialog-title>Delete product?</h1>
    <button class="dialog-close-btn" [mat-dialog-close]="false"><img src="/assets/img/close.png" alt="close"></button>
  </div>
  <div class="dialog-delete content">
    <p>
      Are you sure you want to delete <span>“{{ catalogName }}”</span> from the<br> catalog?
    </p>
  </div>
  <div class="dialog-delete control">
    <button mat-flat-button color="warn" class="dialog-cancel-btn" [mat-dialog-close]="false">Cancel</button>
    <button mat-flat-button color="primary" class="dialog-delete-btn" (click)="deleteCatalog()"
            [mat-dialog-close]="true">Delete
    </button>
  </div>
</div>
