<section class="code">
  <div class="container">
    <div class="row">
      <div class="logo">
        <div class="images">
          <img src="./assets/img/bravo-logo.png" alt="Bravo logo" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="code-form">
        <div class="code-form__title">
          <h5>Please check your email</h5>
        </div>
        <div class="code-form__subtitle">
          <p>We use this login code so you don’t have to<br>
            remember or type in yet another long password</p>
        </div>
        <form class="login-form__form" [formGroup]="codeGroup">
          <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
            <mat-label [ngClass]="{
            active: focus,
            invalid: codeStatus,
            valid: valid
            }">Your login code</mat-label>
            <input [ngClass]="{valid: valid}" #start formControlName="start"  matInput value="" (focusin)="focusIn($event)"
                   (focusout)="focusOut()"
                (input)="changeFocusStartInput($event)" (click)="setSelectionStart($event)" appInputOnlyNumbers
                   maxlength="3">
          </mat-form-field>
          <span>&mdash;</span>
          <mat-form-field class="example-full-width mat-focused mat-form-field-should-float" floatLabel="always">
            <input [ngClass]="{valid: valid}" #end formControlName="end" matInput value="" (focusin)="focusIn($event)"
            (focusout)="focusOut()"
                   (input)="changeFocusEndInput($event)" (click)="setSelectionStart($event)" appInputOnlyNumbers maxlength="3">
          </mat-form-field>
          <div *ngIf="codeStatus && codeGroup.status === 'VALID'" class="error-message">
            Code is not valid
          </div>
        </form>
        <div *ngIf="!valid" class="code-form__description">
          <p>
            We've sent a 6 digit login code to example@email.com<br>
            Can't find it? Check your spam folder.
          </p>
        </div>
        <div class="code-spinner" *ngIf="valid">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</section>

<input #def class="hidden-input">
