@import "src/assets/scss/style";
//=============================== Code form ================================
.logo {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 42px;
}

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  padding: 0 48px;
  height: 400px;
  background: $white;
  border: 1px solid $lightgray;
  box-sizing: border-box;
  border-radius: 8px;
  &__title {
    margin: 70px 0 11px 0;
    h5 {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 132%;
      text-align: center;
      color: $black;
    }
  }
  &__form-control {
    input {
      width: 156px;
      padding: 12px;
      background: $white;
      border: 1px solid $bordergray;
      border-radius: 8px;
      font-size: 16px;
    }
    span {
      margin: 0px 8px;
    }
    label {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 130%;
      margin-left: 15px;
      margin-top: 30px;
      margin-bottom: 2px;
      letter-spacing: 0.03em;
      color: $gray;
    }
  }
  & form {
    margin-top: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    mat-form-field {
      width: 47%;
    }
    ::ng-deep .mat-input-element {
      border: 1.5px solid $bordergray;
      box-sizing: border-box;
      border-radius: 8px;
      min-height: 48px;
      width: 100%;
      padding: 12px;
      font-size: 16px;
    }
    ::ng-deep .mat-input-element::placeholder {
      color:$gray;
      display: block ;
    }
    ::ng-deep label {
      margin-left: 15px;
      color:$gray;
    }
    ::ng-deep .mat-form-field-underline,
    ::ng-deep.mat-form-field-subscript-wrapper {
      display: none;
    }
  }
  &__description {
    margin-top: 24px;
    text-align: center;
    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.03em;
      color: $gray;
    }
  }
  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 142%;
    text-align: center;
    letter-spacing: 0.0168em;
    color: $stronggray;
  }
}
