@import "src/assets/scss/style";
//=============================== Code form ================================
.logo {
  display: flex;
  justify-content: flex-start;
  margin: 40px 0 0 42px;
}

.code-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 440px;
  padding: 0 48px;
  height: 400px;
  background: $white;
  border: 1px solid $lightgray;
  box-sizing: border-box;
  border-radius: 8px;

  &__title {
    margin: 70px 0 11px 0;

    h5 {
      @include fontType($fontfamily, normal, 600, 24px, 132%);
      text-align: center;
      color: $black;
    }
  }

  &__form-control {
    input {
      width: 156px;
      padding: 12px 20px;
      background: $white;
      border: 1px solid $bordergray;
      border-radius: 8px;
      font-size: 16px;
    }

    span {
      margin: 0px 8px;
    }

    label {
      display: inline-block;
      @include fontType($fontfamily, normal, 400, 12px, 130%);
      margin-top: 30px;
      margin-bottom: 2px;
      letter-spacing: 0.03em;
    }

  }
  ::ng-deep{
    mat-spinner{
      width: 30px !important;
      height: 30px !important;
      svg{
        width: 30px !important;
        height: 30px !important;
        circle{
          stroke: $gray;
        }
      }
    }
  }

  & form {
    .valid{
      opacity: 0.5;
    }
    margin-top: 22px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    mat-form-field {
      width: 47%;
    }

    .error-message {
      position: absolute;
      bottom: 10px;
      left: 20px;
      @include fontType($fontfamily, normal, 400, 10px, 130%);
      color: $red;
    }

    ::ng-deep {
      .mat-input-element {
        border: 1.5px solid $bordergray;
        box-sizing: border-box;
        border-radius: 8px;
        min-height: 48px;
        width: 100%;
        padding: 12px 20px;
        font-weight: 600;
        font-size: 24px;
        letter-spacing: 1.7rem;
      }

      .mat-input-element:focus {
        border: 3px solid $blue;
      }

      .mat-input-element::placeholder {
        color: $gray;
        display: block;
      }

      mat-label {
        color: $gray;
        margin-left: 15px;
      }

      mat-label.active {
        color: $blue;
      }

      mat-label.active.invalid,  mat-label.invalid {
        color: $red !important;
      }


      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  &__description {
    margin-top: 24px;
    text-align: center;

    p {
      @include fontType($fontfamily, normal, 400, 12px, 130%);
      letter-spacing: 0.03em;
      color: $gray;
    }
  }

  &__subtitle {
    @include fontType($fontfamily, normal, 400, 14px, 142%);
    text-align: center;
    letter-spacing: 0.0168em;
    color: $stronggray;
  }
}


.hidden-input {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  right: 0;
}
